<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.msfcore</package>
	<author>k-joseph</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.msfcore.MSFCoreActivator</activator>
	
	<mandatory>true</mandatory>
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module>org.openmrs.module.appframework</require_module>
		<require_module>org.openmrs.module.uiframework</require_module>
		<require_module>org.openmrs.module.uicommons</require_module>
		<require_module>org.openmrs.module.appui</require_module>
		<require_module>org.openmrs.module.idgen</require_module>
		<require_module>org.openmrs.module.metadatasharing</require_module>
		<require_module>org.openmrs.module.metadatadeploy</require_module>
		<require_module>org.openmrs.module.metadatamapping</require_module>
		<require_module>org.openmrs.module.emrapi</require_module>
		<require_module>org.openmrs.module.reporting</require_module>
		<require_module>org.openmrs.module.serialization.xstream</require_module>
		<require_module>org.openmrs.module.providermanagement</require_module>
		<require_module>org.openmrs.module.referencemetadata</require_module>
		<require_module>org.openmrs.module.htmlformentry</require_module>
		<require_module>org.openmrs.module.htmlformentryui</require_module>
		<require_module>org.openmrs.module.appframework</require_module>
		<require_module>org.openmrs.module.appui</require_module>
	</require_modules>
	
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<globalProperty>
		<property>msfcore.instanceId</property>
		<defaultValue></defaultValue>
		<description>A unique server/instance identifier</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.daysToKeepLogs</property>
		<defaultValue>30</defaultValue>
		<description>Number of days the EMR should keep MSFCore logs</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.enableMSFUI</property>
		<defaultValue>true</defaultValue>
		<description>Set to true to enable MSF Custom User interface</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.dhisHost</property>
		<defaultValue>146.185.183.146</defaultValue>
		<description>DHIS host</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.openhimTrackerUrl</property>
		<defaultValue>http://146.185.183.146:5001/tracker</defaultValue>
		<description>OpenHIM Channel URL appended by tracker endpoint</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.dhis.ncdPRogramUid</property>
		<defaultValue>vYTIxQVqbjr</defaultValue>
		<description>DHIS2 program uid for NCD</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.dhis.ncdPRogramStageUid</property>
		<defaultValue>xSgs2Acybhy</defaultValue>
		<description>DHIS2 program stage uid defaults to active cohort</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.dhis.ncdTrackEntityTypeUid</property>
		<defaultValue>oZR9WrqUKCG</defaultValue>
		<description>DHIS2 track entity type uid defaults to NCD added</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.syncWithDHISOnPatientRegistration</property>
		<defaultValue>false</defaultValue>
		<description>Set to true only if you want sync patient with configured DHIS2</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.sync2.localFeedLocation</property>
		<defaultValue>http://localhost:8080/openmrs</defaultValue>
		<description>local feed url</description>
	</globalProperty>
	<globalProperty>
		<property>msfcore.sync2.parentFeedLocation</property>
		<defaultValue></defaultValue>
		<description>parent feed url</description>
	</globalProperty>
	
	<packagesWithMappedClasses>org.openmrs.module.msfcore.audit</packagesWithMappedClasses>
	
	<!-- AOP Support -->
	<advice>
		<point>org.openmrs.module.emrapi.event.ApplicationEventService</point>
		<class>org.openmrs.module.msfcore.aop.ViewPatientAdvice</class>
	</advice>
	<advice>
		<point>org.openmrs.module.registrationcore.api.RegistrationCoreService</point>
		<class>org.openmrs.module.msfcore.aop.RegisterPatientAdvice</class>
	</advice>
	<advice>
		<point>org.openmrs.api.ProgramWorkflowService</point>
		<class>org.openmrs.module.msfcore.aop.SavePatientProgramAdvice</class>
	</advice>
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>org.openmrs.module.msfcore.aop.SaveEncounterAdvice</class>
	</advice>
	
</module>

