<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.msfcore</package>
	<author>k-joseph</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.msfcore.MSFCoreActivator</activator>
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module>org.openmrs.module.appframework</require_module>
		<require_module>org.openmrs.module.uiframework</require_module>
		<require_module>org.openmrs.module.uicommons</require_module>
		<require_module>org.openmrs.module.appui</require_module>
		<require_module>org.openmrs.module.idgen</require_module>
		<require_module>org.openmrs.module.metadatasharing</require_module>
		<require_module>org.openmrs.module.metadatadeploy</require_module>
	</require_modules>
	
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<globalProperty>
		<property>msfcore.countryCode</property>
		<defaultValue>UK</defaultValue>
		<description>MSF Country code</description>
	</globalProperty>
	
</module>

