/* BUTTONS > Home Tiles */

button.big {
    max-width:100%;
}
.button.app.big {
    padding: 24px;
    height: 96%;
    color: #424C55;
}

.button.app.big:hover {
    background: #fff;
    box-shadow: rgba(0, 0, 0, .2) 0 4px 16px;
    transform: scale(1.01);
}

.button.app.big i {
    color: #acacac;
    margin-bottom: 8px;
    font-size:40px;
}

.button.app.big:hover i {
    color: #55D6BE;
}

/* BUTTONS > Cancel & Confirm

- The rules below are very verbose and specific in order to override the OpenMRS Reference App stylesheet.
- Avoid pruning.

*/

button,
.button,
a.button,
a.button.task,
a.button.confirm,
.button.confirm,
button.confirm,
.dropdown,
input[type="submit"],
input[type="button"],
input[type="submit"].confirm,
input[type="button"].confirm,
a.button.cancel .button.cancel,
button.button.cancel,
button.cancel,
input[type="button"].cancel,
input[type="submit"].cancel,
#form-actions-container a,
.button.task:visited,
button.task:visited,
input[type="submit"].task:visited,
input[type="button"].task:visited,
input[type="submit"].task:visited,
a.button.task:visited,
#viewAllAppointmentTypes a {
    background: #fff;
    background-color: #fff;
    border: none;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .4) 0 1px 4px;
    color: #373F46;
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    padding: 12px 24px;
    margin: 8px;
    text-align: center;
}

/* Visit Buttons */

.visit-actions a.button.task {
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, .4) 0 0 2px;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0;
    min-width: 90px;
    font-size: 0.8rem;
    padding: 8px;
}

.visit-actions a.button.task:first-of-type {
    border-radius: 24px 0 0 24px;
}

.visit-actions a.button.task:last-of-type {
    border-radius: 0 24px 24px 0;
}

.visit-actions {
    margin-bottom: 32px;
}


#favorite-search-record, #comment-on-search-record, #possible-task-list {
    cursor: pointer;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .4) 0 1px 4px;
    color: #444;
    border-radius: 100px;
    padding: 8px;
    width: 48px;
    height: 48px;
    font-size: 2rem;
    box-sizing: border-box;
}

.dropdown {
    margin-top: 0;
    background-color: #ddd;
    height: 23px;
    width: 140px;
    text-align: center;
    cursor: pointer;
}

/* This causes issues with buttons breaking out of the modals.
input[type=button] [value=value],
a.button.cancel .button.cancel,
button.cancel,
input[type="button"].cancel,
input[type="submit"].cancel {
    float:left;
}*/

.button:hover,
a.button:hover
button:hover,
.button.cancel:hover,
button.cancel:hover,
a.button.cancel:hover,
.button.confirm:hover,
button.confirm:hover,
a.button.confirm:hover,
input[type="button"]:hover,
input[type="submit"]:hover
input[type="submit"] .cancel:hover,
input[type="button"].cancel:hover,
input[type="submit"].cancel:hover,
input[type="submit"] .confirm:hover,
input[type="button"].confirm:hover,
input[type="submit"].confirm:hover,
#form-actions-container a {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px;
    transform: scale(1.01);
    text-decoration: none;
}

.icon-delete:hover,
.icon-remove:hover,
.button.cancel:hover,
button.cancel:hover,
input[type="submit"] .cancel:hover,
input[type="button"].cancel:hover,
input[type="submit"].cancel:hover,
a.button.cancel:hover,
#form-actions-container a:nth-of-type(2):hover {
    color: #ff4747;
    cursor: pointer;
}

#patient-search-clear-button:hover {
    background: #ff4747;
}


.main-content .visit-actions a:hover,
.main-content .spaced a:hover,
.button.confirm:hover,
button.confirm:hover,
a.button.confirm:hover,
input[type="submit"] .confirm:hover,
input[type="button"].confirm:hover,
input[type="submit"].confirm:hover,
#form-actions-container a:hover,
.button.task:hover,
button.task:hover,
input[type="button"].task:hover,
input[type="submit"].task:hover,
a.button.task:hover {
    color:#4EC3AD;
    background: #fff;
    cursor: pointer;
}

.button.confirm.disabled,
.button.confirm:disabled,
button.confirm.disabled,
button.confirm:disabled,
input[type="submit"].confirm.disabled,
input[type="submit"].confirm:disabled,
input[type="button"].confirm.disabled,
input[type="button"].confirm:disabled,
input[type="submit"].confirm.disabled,
input[type="submit"].confirm:disabled,
a.button.confirm.disabled,
a.button.confirm:disabled,
input[type="submit"]:disabled:hover {
    color: rgb(190, 190, 190);
    background: #f3f3f3;
}

/* BUTTONS > Pagination */

.ngPagerButton,
.ui-state-default.ui-button {
    color: #373F46;
    padding: 8px;
    margin: 4px;
    min-width: 40px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
}

/* BUTTONS > Disabled Pagination Buttons */
.ui-state-default.ui-button.ui-state-disabled,
.ui-state-default.ui-button.ui-state-disabled:hover {
    opacity: 0.3;
}

.ui-state-default.ui-button.ui-state-disabled:hover {
    color: #BABDC1;
}

/* BUTTONS > Table Row Actions */
#deleteVisitLink:hover, #editVisitDatesLink:hover, #editVisitLink:hover,
.icon-pencil.edit-action:hover,
.icon-pencil:hover,
.ui-state-default.ui-button:hover,
.icon-file-alt:hover {
    color: #4EC3AD;
}

.ui-state-default.ui-button:hover {
    opacity: 1;
}

#encountersList .encounter-details li:last-child > .details-action a,
#deleteVisitLink, #editVisitDatesLink, #editVisitLink,
.edit-info,
.edit-action,
#patient-search-clear-button,
.delete-item,
.delete-action,
.view-action,
#i-toggle,
a.view-details {
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    height: 18px;
    margin: 1px 4px;
    min-width: 64px;
    position: relative;
    padding: 4px;
    text-align:center;
    text-decoration: none;
}

#viewAllAppointmentTypes a,
.date-range-picker-clear-link {
    cursor: pointer;
}


.edit-info {
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
}

.edit-action {
    margin-bottom:4px;
}

#patient-search-clear-button {
    background: #55D6BE;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 12px 14px;
    top: 1px;
    right: 7px;
}

/*
Causes an issue on Manage Service Types

.delete-item:first-of-type {
    margin-right: 0;
}*/

.view-action.icon-file-alt::after,
#patient-search-clear-button::after,
.icon-pencil.edit-action::after,
.icon-remove.delete-action::after,
.delete-item.icon-remove::after,
.delete-item.icon-pencil::after,
.edit-action::after,
#i-toggle::after {
    display: inline-block;
    font-family: 'OpenSansSemiBold', Arial, sans-serif;
    font-size: 12px;
    margin-left: 4px;
}

#patient-search-clear-button:after {
    content: 'Clear';
}

a#patient-search-register-patient {
    float: right;
    margin-bottom: 24px;
}

.view-action.icon-file-alt::after {
    content: 'View';
}

.edit-action.icon-share-alt:after {
    content: 'Open';
}
.icon-pencil.edit-action::after,
.delete-item.icon-pencil::after {
    content: 'Edit';
}
.icon-remove.delete-action::after,
.delete-item.icon-remove::after {
    content: 'Delete';
}

#i-toggle::after {
    content: "Expand all encounters";
}

/* On Add Vitals Page */
button.cancel.big i.icon-arrow-left,
button.confirm.big i.icon-arrow-right {
    font-size: 1rem;
    padding: 5px 8px 0 8px;
}
button.cancel.big i.icon-arrow-left {float: left;}
button.confirm.big i.icon-arrow-right {float: right;}

/* Visit Note */

#display-encounter-diagnoses-container li i {
    display: inline-block;
}

#buttons {
    margin-top:2rem;
}

.patient-header+#edit-patient-identifier-dialog+.actions.dropdown {
    background: #fff;
    border: none;
    border-radius: 1.5rem;
    height: 3rem;
    margin: -18px 0 0 1024px;
    width: 10rem;
}

/* Attachments */

.att_upload-container button.confirm, button#allergyui-addNewAllergy {
    float:right;
}

/* BUTTONS > Transitions */
a,
a:hover,
form input,
form select,
form textarea,
form ul.select,
.form input,
.form select,
.form textarea,
.form ul.select,
form input:focus,
form select:focus,
form textarea:focus,
form textarea:active,
form ul.select:focus,
.form input:focus,
.form select:focus,
.form textarea:focus,
.form textarea:active,
.form ul.select:focus .confirm,
.confirm:hover,
a.button,
a.button:hover,
#breadcrumbs a,
#breadcrumbs a:hover,
#patient-search-clear-button,
#patient-search-clear-button:hover,
.button.app.big i .button.app.big:hover i,
.change-location,
.ui-state-default.ui-button,
.ui-state-default.ui-button:hover,
.delete-item,
.delete-item:hover,
#patient-search-results #patient-search-results-table tbody tr:hover,
#patient-search-results #patient-search-results-table tbody tr,
.dashboard .info-header i.edit-action,
.dashboard .info-header i.edit-action:hover,
#form-actions-container a,
#form-actions-container a:hover  {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
}

button.primary {
  background: #538CAC;
  color: #fff;
  box-shadow: rgba(0, 0, 0, .2) 0 1px 4px;
}
button.primary:hover {background: #55D6BE}

button.right {float: right}

button.addEntry::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f055";
  margin-right: 5px;
}
button.removeEntry {
  display: block;
  margin: 0 auto;
  background: none;
  box-shadow: none;
  padding: 0;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 15px;
}
button.removeEntry:hover {
  color: #FF0000;
}
button {outline: none}

.button.confirm.active, button.confirm.active, input[type="submit"].confirm.active, input[type="button"].confirm.active, input[type="submit"].confirm.active, a.button.confirm.active {
  background: #D0FEF5;
}
