/* FORMS */
form, .form {
    overflow: visible
}

htmlform,
.simple-form-ui form#htmlform {
    display:flex;
    flex-direction: column;
    background:#fff;
}

.simple-form-ui form#htmlform {
    flex-direction: row;
}

input,
form input,
form select,
form textarea,
form ul.select,
.form input,
.form select,
.form textarea,
.form ul.select,
input[type="search"] {
    background: #fff;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius:4px;
    outline: none;
    /*min-width: 10%; Problematic on Modal Inputs */
    padding: 8px 16px;
    box-shadow: inset rgba(0,0,0,0.3) 0 0 2px;
}

select,
.simple-form-ui select,
.simple-form-ui form select {
   height: 41px;
   margin-top: 0;
}

.simple-form-ui select#gender-field {
   height: 100%;
}
form input {
    margin-top: 0;
}

/* NCD LABELS
form label, .form label {
    font-size: 14px;
    float:left;
    line-height: 19px;
    margin: 0 20px 0 24px;
}*/

form input[type="checkbox"],
form input[type="radio"],
.form input[type="checkbox"],
.form input[type="radio"] {
    float: left;
    display: initial;
    /*margin-right: -24px;*/
    box-shadow: none;
    margin: 4px;
}

form input[type="checkbox"],
.form input[type="checkbox"] {
    padding: 6px;
}

form input[type="radio"]:checked {
    background: #55D6BE;
}

form input[type="checkbox"]:checked,
.form input[type="checkbox"]:checked {
    background: #55D6BE;
    border-color:#4EC3AD;
    box-shadow: inset rgba(0,0,0,0.3) 0 1px 2px;
}

form input[type="checkbox"]:checked:after,
.form input[type="checkbox"]:checked:after {
    font-size: 24px;
    color: #fff;
}

form input:focus,
form select:focus,
form textarea:focus,
form ul.select:focus,
.form input:focus,
.form select:focus,
.form textarea:focus,
.form ul.select:focus {
    background: #fff;
    border-bottom: 2px solid #55D6BE;
    outline: none;
}

.input-group textarea {
    width: 90%;
    margin: 24px;
}

/* Manage Appointments */

.angular-datepicker button,
daterangepicker button {
    box-shadow: none;
    border-radius: 0;
    margin: 2px;
    font-family: 'OpenSansRegular';
}
.angular-datepicker table td {
    padding:2px;
}

/*
#appointmentscheduling-patientAppointments i.icon-calendar.small.add-on {
    margin-left: -32px;
}*/

/* This is the unit added next to an input e.g. Adding Vitals */
.append-to-value {
    margin-left: 0.25rem;
}

form#patient-search-form,
div#active-visits_filter.dataTables_filter {
    background: #424C55;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.1) 0 -2px 8px;
    box-sizing: border-box;
    margin-bottom: -8px;
    padding: 16px 16px 24px 16px;
    width: 100%;
}

#active-visits_filter input[type="search"] {
    margin-left:8px;
    width:40%;
}

#patient-search-results {
    margin-top: 0;
}

form input#patient-search {
    min-width: 50%;
    box-sizing: border-box;
    margin-top:28px;
}

#patient-search-filter {
    float:right;
    min-width:39%;
    box-sizing: border-box;
}

#patient-search-filter::before {
    color: #fff;
    content: "Filter search results by";
    display: block;
    font-size: 1.1rem;
    margin-bottom: 4px;
}

form input#filter-age,
form select#filter-gender {
    min-width:45%;
    float:left;
    box-sizing: border-box;
}

form select#filter-gender {
    margin:0 0 0 16px;
    height:41px;
}

ul#formBreadcrumb {
    width:25%;
    background: #55D6BE;
    color:#fff;
    padding: 1rem;
}

ul#formBreadcrumb li,
ul#formBreadcrumb li:last-child {
    border:none;
}

/* Icon Addon */
.add-on, 
.selectedAppointmentTypesList,
.selectedAppointmentTypesList > .add-on {
    background: #55D6BE;
    box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    border-radius: 0 4px 4px 0;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    padding: 9px 8px;
}

.selectedAppointmentTypesList {
    border:none;
    border-radius: 4px 0 0 4px;
    padding:0;
}

.selectedAppointmentTypesList span {
    padding:4px;
}

#retrospective-visit-creation-dialog .add-on {
    top:1px;
    left:-6px !important;
}


a.date-range-picker-clear-link.add-on {
    margin-left: -5px;
    padding: 10px 8px;
    top: -2px;
    background: #fff;
    color: red;
}

input#retrospectiveVisitStartDate-display,
input#retrospectiveVisitStartDate-field {
    border-radius: 4px 0 0 4px;
}

#htmlform {
    /*background: #fff;*/
    height: 100%;
}

/* TWEAKS TO STAGING */

form input[type="checkbox"],
.form input[type="checkbox"] {
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: inset rgba(0,0,0,0.1) 0 0 4px;
    background: #fff;
    margin: 0;
    margin-right: 8px;
}

.section form label,
.section .form label {
    margin-top: 0;
}

form label,
.form label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    margin-top: 0px;
}

form input[type=radio] + label,
.form input[type=radio] + label {
    margin: 0 4px 0 4px;
    float: left;
}

.input-group input[type=radio] + label {
    margin-right: 24px;
}

#login-form ul.select, #login-form #sessionLocation {
    width: 95%;
    padding: 16px;
    box-sizing: border-box;
}

form#login-form {
    width: 40%;
    margin: 9rem auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.3) 0 8px 16px;
}

ul.select li {
    width: 43%;
    padding: 8px;
    color: #4EC3AD;
    border: 1px solid #ccc;
    border-radius:4px;
    box-shadow: rgba(0,0,0,0.1) 0 0 1px;
    margin:4px;
}

ul.select li:hover {
    background-color: #55D6BE;
}

ul.select li.selected {
    background-color: #4EC3AD;
    box-shadow: inset rgba(0,0,0,0.3) 0 2px 4px;
    color: white;
    border-color: transparent;
}

form#login-form fieldset {
    border: none;
}

form#login-form fieldset legend {
    padding: 16px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background: #424C55;
    width: 105%;
    box-sizing: border-box;
    padding: 24px;
    margin: -20px 0 32px -22px;
    float: left;
    border-radius: 8px 8px 0 0;
}

#login-form p input[type=submit] {
    width: 100%;
    float: left;
    margin: 16px 22%;
}

#cantLogin {
    float: left;
    margin: 16px 36%;
}

/* Add New Allergies */

div#allergy {
    background: #fff;
    padding: 24px;
}

div#allergens {
    width:100%;
}

div#allergens ul {
    display:flex;
    flex-direction: column;
}

div#allergy > form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#reactions ul li {
    display: inline-block;
    height: 40px;
    width: 280px;
}

div#actions {
    margin: 24px 0 -24px -24px;
    width: calc(100% + 48px);
}

#mark-patient-dead > fieldset {
    border:none;
    padding:0;
}

#deceased-container + p {
    margin-top:16px;
}

#appointment-block-form table {
    box-shadow: none;
}
