/* FORMS */

#login-form ul.select,
#login-form #sessionLocation {
    width:60%;
}

form, .form {
    overflow: visible
}

htmlform {
    display:flex;
    flex-direction: column;
    /*padding:24px;*/
}

form input, 
form select, 
form textarea, 
form ul.select, 
.form input, 
.form select, 
.form textarea, 
.form ul.select,
input[type="search"] {
    background: #fff;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius:4px;
    outline: none;
    min-width: 10%;
    padding: 8px 16px;
    box-shadow: rgba(0,0,0,0.3) 0 0 2px;
}

select,
.simple-form-ui select,
.simple-form-ui form select {
   height: 41px;
   margin-top: 0;
}

.simple-form-ui select#gender-field {
   height: 100%;
} 
form input {
    margin-top: 0;
}

/* NCD LABELS 
form label, .form label {
    font-size: 14px;
    float:left;
    line-height: 19px;
    margin: 0 20px 0 24px;
}*/

form input[type="checkbox"], 
form input[type="radio"], 
.form input[type="checkbox"], 
.form input[type="radio"] {
    float: left;
    display: initial;
    /*margin-right: -24px;*/
    box-shadow: none;
    margin: 4px;
}

form input[type="checkbox"], 
.form input[type="checkbox"] {
    padding: 6px;
}

form input[type="radio"]:checked {
    background: #55D6BE;
}

form input[type="checkbox"]:checked,
.form input[type="checkbox"]:checked {
    background: #55D6BE;
    border-color:#4EC3AD;
    box-shadow: inset rgba(0,0,0,0.3) 0 1px 2px;
}

form input[type="checkbox"]:checked:after, 
.form input[type="checkbox"]:checked:after {
    font-size: 24px;
    color: #fff;
}

form input:focus,
form select:focus,
form textarea:focus,
form ul.select:focus,
.form input:focus,
.form select:focus,
.form textarea:focus,
.form ul.select:focus {
    background: #fff;
    border-bottom: 2px solid #55D6BE;
    outline: none;
}

.input-group textarea {
    width: 90%;
    margin: 24px;
}

/* This is the unit added next to an input e.g. Adding Vitals */
.append-to-value {
    margin-left: 0.25rem;
}

div#active-visits_filter.dataTables_filter,
form#patient-search-form {
    background: #55D6BE;
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0,0,0,0.1) 0 -2px 8px;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 16px;
    width: 100%;
}

#active-visits_filter input[type="search"] {
    margin-left:8px;
    width:40%;
}

#patient-search-results {
    margin-top: 0;
}

form input#patient-search {
    min-width: 60%;
    box-sizing: border-box;
    margin-top:28px;
}

#patient-search-filter {
    float:right;
    min-width:38%;
    box-sizing: border-box;
}

#patient-search-filter::before {
    color: #fff;
    content: "Filter search results by";
    display: block;
    font-size: 1.1rem;
    margin-bottom: 4px;
}

form input#filter-age,
form select#filter-gender {
    min-width:45%;
    float:left;
    box-sizing: border-box;
}

form select#filter-gender {
    margin:0 0 0 16px;
    height:41px;
}

ul#formBreadcrumb {
    width:25%;
    background: #55D6BE;
    color:#fff;
    padding: 1rem;
}

ul#formBreadcrumb li {
    border:none;
}
/* Icon Addon */
.add-on {
    left: -40px;
}

#htmlform {
    /*background: #fff;*/
    height: 100%;
}

/* TWEAKS TO STAGING */

form input[type="checkbox"], 
.form input[type="checkbox"] {
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: inset rgba(0,0,0,0.1) 0 0 4px;
    background: #fff;
    margin: 0;
    margin-right: 8px;
}

.section form label, 
.section .form label {
    margin-top: 0;
}

form label, 
.form label {
    display: block;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

form input[type=radio] + label, 
.form input[type=radio] + label {
    margin: 0 4px 0 4px;
    float: left;
}

.input-group input[type=radio] + label {
    margin-right: 24px;
}