/* THESE SHOULD BE REMOVED
In production a single concatonated and minified file should be used instead. @Import blocks paraless loading and slows down site load over an internet connection. (Z) */

@import url('buttons.css');
@import url('navigation.css');
@import url('typography.css');
@import url('forms.css');
@import url('dashboard.css');
@import url('registration.css');
@import url('ncd.css');
@import url('attachments.css');

/* COLORS

This can be converted to custom propterties / variables at a later stage. A build process may be needed to ensure compatibility with all browsers.

INTERACTION:
Medium Turquoise: 55D6BE
    Link text: 4EC3AD
Aero Blue: D0FEF5

INFORMATION:
Info blue: 538CAC
    lightest: B0CAD9

BRANDING:

MSF Red: FF0000

Dark grey: 424C55
    Darker: 373F46 (Body Text)
    Lighter: 646C73
    lightest: 757C83
    Disabled: BABDC1

White: FFFFFF
    Darker:

*/

/* STRUCTURE */

a, a:hover,
header a, 
header a:hover, 
header a:link {
    color:#4EC3AD;
}

a:visited, a.visited {
    color: #4EC3AD;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "OpenSans", Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    max-width: 100%;
    margin: 0px auto;
    color: #373F46;
    font-size: 1em;
}

header {
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, .3) 0 0 16px;
    width: 100%;
    border-radius: 0;
    color: #373F46;
    border-top: 10px solid #424C55;
    padding: 8px;
    position: fixed;
    z-index: 9999;
}

header .logo {
    margin: 4px 0 4px 16px;
}

#body-wrapper {
    background: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* Vitals Section */

#content > .container.half-width {
    background: #fff;
    padding: 24px;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
    overflow: hidden;
}

#content > .container.half-width h1 {
    text-align:center;
}

#content > .container.half-width #actions {
    background: #55D6BE;
    box-shadow: inset rgba(0,0,0,0.3) 0 0 8px;
    border: none;
    border-radius: 0;
    height: 6rem;
    padding: 16px 30% 16px 30%;
    margin: 0 -40px 0 -40px;
    width: 106%;
}

#form-actions-container {
    order: 3;
}

#form-actions-container a {
    margin:0.5rem;
    display: inline-block;
}

#form-actions-container a:nth-of-type(2) {
    float:left;
}

#content.container {
    display: flex;
    flex-direction: column;
    padding:3rem 0 6rem 0;
}

.simple-form-ui form#htmlform {
    display:flex;
}

/* UTILITY CLASSES */

.float-left {
    width: 80%;
}

/* TOASTS */

.toast-item {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 16px;
    border: none;
    order-radius: 8px;
}

/* FORMS */

#login-form ul.select,
#login-form #sessionLocation {
    width:60%;
}

form, .form {
    overflow: visible
}

form input,
form select,
form textarea,
form ul.select,
.form input,
.form select,
.form textarea,
.form ul.select {
    outline: none;
    border-bottom: 2px solid #ccc;
    background: #fff;
    padding: 8px 16px;
    border-radius:4px;
}

form input:focus,
form select:focus,
form textarea:focus,
form ul.select:focus,
.form input:focus,
.form select:focus,
.form textarea:focus,
.form ul.select:focus {
    outline: none;
    border-bottom: 2px solid #55D6BE;
    background: #fff;
    border-radius: 8px;
}

/* TABLES */

table {
    /*margin-bottom: 24px;*/
    box-shadow:rgba(0,0,0,0.1) 0 4px 8px;
}

#patient-search-results #patient-search-results-table tbody tr:hover {
    background: #D0FEF5;
    cursor: pointer;
    color: #373F46;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
table thead th {
    border:none;
    border-bottom: 2px solid #373F46;
    background: #fff;
    font-family: "OpenSans";
    font-size:1rem;
    padding: 0.75rem;
}

table tr:nth-child(even) {
    background:rgba(250,250,250,1);
}

table td:last-child {
    padding:5px;
}

.fg-toolbar {
    background: #424C55;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0,0,0,0.1) 0 4px 8px;
    border-top: 8px solid #373F46;
    color: #fff;
    padding: 8px;
    margin-bottom: 64px;
}

.dataTables_info {
    padding-top: 12px;
    padding-left: 8px;
    font-size: 18px;
    opacity: 0.8;
    width: 38%;
}

.paging_full_numbers {
    width: 60% !important;
}

/* MODALS */

.dialog, .ngdialog.ngdialog-theme-default .ngdialog-content {
    box-shadow:rgba(0, 0, 0, 0.3) 0 16px 32px;
    min-height: 240px;
}

.dialog .dialog-header, .ngdialog.ngdialog-theme-default .ngdialog-content .dialog-header {
    background: #373F46;
}

.dialog .dialog-content li.info, .ngdialog.ngdialog-theme-default .ngdialog-content .dialog-content li.info {
    border:none;
}

.dialog > .button {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
}

#modal-overlay.simplemodal-overlay {
    background: #fff;
}

/* HIDDEN */
#filter-tags {
    display: none;
}

/* Conditions */

.horizontal {
    display: table;
    padding: 16px;
    background: #55D6BE;
    width: 100%;
    box-sizing: border-box;
}

.horizontal:first-of-type {
    margin-top:16px;
    border-radius: 8px 8px 0 0;
}

.horizontal > * {
    display: inline-block;
    text-transform: lowercase;
}

.concept input, 
#concept-and-date span.date input { 
    padding:8px;
    border-radius: 4px;
    border:none;
    border-bottom: 2px solid #ccc;
}

#conceptId-input::before {
    content: 'Type to find a Concept';
    display: block;
}

#content {
    animation: fadein 0.5s ease-in;
}

#breadcrumbs li:last-child {
    animation: fadein 1s ease-in;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes widget-text {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

#chart-search-form-submit .chart-search-input {
    background: #55D6BE;
    border-radius: 0;
    padding:24px;
}

#chart-search-form-submit .chart-search-input .filters_section {
    background: rgba(255,255,255,0.3);
    height: 80px;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
    box-sizing: border-box;
}