/* THESE SHOULD BE REMOVED
In production a single concatonated and minified file should be used instead. @Import blocks paraless loading and slows down site load over an internet connection. (Z) */

@import url('buttons.css');
@import url('navigation.css');
@import url('typography.css');
@import url('forms.css');
@import url('dashboard.css');
@import url('registration.css');
@import url('ncd.css');
@import url('attachments.css');
@import url('visit-history.css');

/* COLORS

This can be converted to custom propterties / variables at a later stage. A build process may be needed to ensure compatibility with all browsers.

INTERACTION:
Medium Turquoise: 55D6BE
    Link text: 4EC3AD
Aero Blue: D0FEF5

INFORMATION:
Info blue: 538CAC
    lightest: B0CAD9

BRANDING:

MSF Red: FF0000

Dark grey: 424C55
    Darker: 373F46 (Body Text)
    Lighter: 646C73
    lightest: 757C83
    Disabled: BABDC1

White: FFFFFF
    Darker:

*/

/* STRUCTURE */

html {
    box-sizing: border-box;
}

body {
    font-family: "OpenSans", Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    max-width: 100%;
    margin: 0px auto;
    color: #373F46;
    font-size: 1em;
}

html,
body {
    height: 100%;
}

header {
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, .3) 0 0 16px;
    width: 100%;
    border-radius: 0;
    color: #373F46;
    border-top: 10px solid #424C55;
    padding: 8px;
    position: fixed;
    z-index: 9999;
}

header .logo {
    margin: 4px 0 4px 16px;
}

#body-wrapper {
    background: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* Containers for forms and page elements */

table#active-visits + input + input + div,
.create-appointment-type,
.scheduleAppointment,
.patient-header+#edit-patient-identifier-dialog+h3,
.patient-header+#edit-patient-identifier-dialog+h3+#mark-patient-dead {
    padding: 24px;
    background: #fff;
}

.patient-header+#edit-patient-identifier-dialog+h3+#mark-patient-dead {
    margin-top: -10px;
}

/* Standard Drop Shadow */
/* Merge Visits */

table#active-visits + input + input + div,
.dashboard, table,
.scheduleAppointment,
.create-appointment-type,
.patient-header+#edit-patient-identifier-dialog+h3,
.patient-header+#edit-patient-identifier-dialog+h3+#mark-patient-dead {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
}

/* All four rounded corners */
.create-appointment-type {
    border-radius: 8px; 
}

/* Bottom Rounded Corners for these boxes */
table#active-visits + input + input + div,
.scheduleAppointment,
.patient-header+#edit-patient-identifier-dialog+h3+#mark-patient-dead {
    border-radius: 0 0 8px 8px;
}

div#simplemodal-container {
    top: 144px !important;
}

/* INTERACTIONS */

a,
a:hover,
header a,
header a:hover,
header a:link {
    color: #4EC3AD;
}

a:visited,
a.visited {
    color: #4EC3AD;
}

.active {
    background-color: rgb(27, 82, 72);
}

/* Vitals Section */

#content>.container.half-width {
    background: #fff;
    padding: 24px;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
    overflow: hidden;
}

#content>.container.half-width h1 {
    text-align: center;
}

#content>.container.half-width #actions {
    background: #55D6BE;
    box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 8px;
    border: none;
    border-radius: 0;
    height: 6rem;
    padding: 16px 30% 16px 30%;
    margin: 0 -40px 0 -40px;
    width: 106%;
}

#form-actions-container {
    order: 3;
}

#form-actions-container a {
    margin: 0.5rem;
    display: inline-block;
}

#form-actions-container a:nth-of-type(2) {
    float: left;
}

#content.container {
    display: flex;
    flex-direction: column;
    /*padding:3rem 0 6rem 0;*/
}

#content.container {
    margin: 3rem 0 6rem 0;
    border-radius: 8px;
    /*background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 4px 8px;*/
}

.simple-form-ui form#htmlform {
    display: flex;
}

/* UTILITY CLASSES */

.float-left {
    width: 80%;
    float: left;
}

.hidden {
    display: none;
}

/* TOASTS */

.toast-item {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 16px;
    border: none;
    border-radius: 8px;
}

/* TABLES */

.ngRow.odd:hover,
.ngRow.even:hover,
.ngRow.selected:hover,
#patient-search-results #patient-search-results-table tbody tr:hover {
    background: #D0FEF5;
    cursor: pointer;
    color: #373F46;
}

.ngRow.odd.selected,
.ngRow.even.selected {
    background: #55D6BE;
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
table thead th {
    border: none;
    border-bottom: 2px solid #373F46;
    background: #fff;
    font-family: "OpenSans";
    font-size: 1rem;
    padding: 0.75rem;
}

/* Date Picker */

.ui-datepicker-calendar .ui-state-default {
    border-bottom: none;
    border-radius: 16px;
    background: none;
    font-size: 0.75rem;
    padding: 0.25rem;
    width: 16px;
    height: 16px;
    text-align: center;
}

.ui-datepicker td,
.ui-datepicker td:last-child {
    padding: 8px 4px;
}

.ui-datepicker-calendar .ui-state-default:hover {
    background: #55D6BE;
    color: #fff;
    font-weight: bold;
}

.ui-datepicker-header.ui-widget-header {
    background: #55D6BE;
    border: none;
    padding: 4px;
    margin-top: -3px;
}

.ui-datepicker table {
    margin: 0;
}

div#ui-datepicker-div {
    padding: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 32px;
}

table tr:nth-child(even) {
    background: rgba(250, 250, 250, 1);
}

.fg-toolbar,
.tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
}

.fg-toolbar {
    background: #424C55;
    border-top: 8px solid #373F46;
    color: #fff;
    padding: 8px;
    margin-bottom: 64px;
}

.dataTables_info {
    padding-top: 12px;
    padding-left: 8px;
    font-size: 18px;
    opacity: 0.8;
    width: 38%;
}

.paging_full_numbers {
    width: 60% !important;
}

/* MODALS */

.dialog,
.ngdialog.ngdialog-theme-default .ngdialog-content {
    box-shadow: rgba(0, 0, 0, 0.3) 0 16px 32px;
    min-height: 184px;
    border-radius: 8px;
}

.dialog .dialog-header,
.ngdialog.ngdialog-theme-default .ngdialog-content .dialog-header {
    background: #373F46;
    border-radius: 8px 8px 0 0;
}

.dialog .dialog-header h3, 
.ngdialog.ngdialog-theme-default .ngdialog-content .dialog-header h3 {
    font-size: 1.6rem;
    padding: 8px 0;
}

.dialog .dialog-content li.info,
.ngdialog.ngdialog-theme-default .ngdialog-content .dialog-content li.info {
    border: none;
}

.dialog > .button {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
}

#modal-overlay.simplemodal-overlay {
    background: #fff;
}

.dialog-header i.icon-remove,
.dialog-header i.icon-plus {
    display: none;
}

/* HIDDEN */
#filter-tags {
    display: none;
}

/* HTML Forms view on the patient dashboard */
span.value {
    color: black;
}

/* Hide the left hand menu when displaying the dashboard */
.encounter-summary-container .left-column,
.encounter-summary-container .hide-on-view,
.encounter-summary-container .hide-on-print {
    display: none;
}

.encounter-summary-container .right-form-display {
    width: 100%;
}

/* Conditions */

.horizontal {
    display: table;
    padding: 16px;
    background: #55D6BE;
    width: 100%;
    box-sizing: border-box;
}

.horizontal:first-of-type {
    margin-top: 16px;
    border-radius: 8px 8px 0 0;
}

.horizontal>* {
    display: inline-block;
    text-transform: lowercase;
}

.concept input,
#concept-and-date span.date input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #ccc;
}

#conceptId-input::before {
    content: 'Type to find a Concept';
    display: block;
}

#content {
    animation: fadein 0.5s ease-in;
}

#breadcrumbs li:last-child {
    animation: fadein 1s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes widget-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#chart-search-form-submit .chart-search-input {
    background: #55D6BE;
    border-radius: 0;
    padding: 24px;
}

#chart-search-form-submit .chart-search-input .filters_section {
    background: rgba(255, 255, 255, 0.3);
    height: 80px;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
    box-sizing: border-box;
}

.patient-header+#edit-patient-identifier-dialog+.actions.dropdown .dropdown-name {
    color: #373F46;
}

/* APPOINTMENTS SECTION */

div#appointmentscheduling-manageAppointments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    background: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
}

div#appointmentscheduling-manageAppointments>div {
    margin-bottom: 2rem;
}

/* APPOINTMENT SCHEDULING */

.appointment-filter,
#filter-parameters {
    color: #fff;
    padding: 24px;
    background: #55D6BE;
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -2px 8px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.appointment-filter {
    border-radius: 0 8px 0 0;
    z-index: 5;
    position: relative;
}

#filter-date~h1 {
    float: left;
    margin-right: 384px;
}

.container>#filter-date,
.container>#filter-location {
    background: #fff;
    border-radius: 8px 8px 0 0;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
}

#filter-date {
    padding-left: 24px;
    padding-right: 0px;
}

#filter-date input {
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.appointment-filter input,
.appointment-filter select,
#filter-parameters input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #4EC3AD;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 1px 2px;
}

#filter-parameters .viewAllAppointmentTypes a,
.appointment-filter .viewAllAppointmentTypes a {
    padding: 8px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 4px;
    border-radius: 8px;
    font-family: 'OpenSansSemiBold', Arial, Helvetica, sans-serif;
    color: #373F46;
    cursor: pointer;
}

#filter-parameters .viewAllAppointmentTypes a:hover,
.appointment-filter .viewAllAppointmentTypes a:hover {
    text-decoration: none;
    color: #4EC3AD;
}

.viewAllAppointmentTypes {
    margin-left: -56px;
}

.selectmultipleBox {
    font-size: 1rem;
    border: none;
}

.fc-header tr td,
.fc-header-left,
.fc-header-right,
table td:last-child {
    padding: 16px;
}

.fc-content {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
}

#appointmentTypesTable tr td span {
    display: inline-block;
    min-width: 10rem;
}

#noDailyAppointments {
    padding: 16px;
    text-align: center;
    background: #538CAC;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 2px 4px -2px;
    color: #fff;
}

#appointmentscheduling-patientAppointmentRequests>div>h2 {
    display: none;
}

#patient-search-form+#patient-search-results+div {
    display: none;
}

/* Appointment Requests */

#appointmentRequestsGridTable {
    width: 100%;
}

.ngTopPanel {
    background-color: #538CAC;
    color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.ng1539782755913 .colt1,
.ngHeaderCell.ng-scope.col4.colt4 {
    width: 200px;
}

#appointmentRequestsGridTable .delete-item {
    height: 18px;
    margin: 6px 1px 0 1px;
    min-width: 24px;
    position: relative;
    padding: 1px;
    text-align: center;
    text-decoration: none;
}

#appointmentRequestsGridTable .delete-item:after {
    display: none;
}

#appointmentscheduling-patientAppointmentRequests table,
#appointmentscheduling-manageAppointments .scheduleAppointment {
    box-shadow: none;
}
#appointmentscheduling-scheduleAppointment {
    padding: 24px 0;
}

h2.scheduleAppointmentTitle {
    margin-top:0;
}

#allAppointmentTypesModal {
    position: relative;
}