/* NCD Forms styling */

/* Visible on the View version of the Form */
span#form-actions {
  background: #373F46;
  padding: 24px 0 16px 67%;
  margin-bottom: -8px;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  clear: both;
  margin-top: 7px;
  display: flex;
}

.left-column {
  background: #55D6BE;
  width: 30%;
  overflow: hidden;
  float: left;
}

.left-column h3{
  margin-top:0
}

.left-column .left-navigation {
  margin: 30px
}

.left-column .left-navigation ol {
  margin:20px 0 20px 20px;
  width: 103%;
  color: #fff;
}

.left-column .left-navigation ol li {
  padding-left: 8px;
  color: #fff;
}

.left-column .left-navigation ol li:hover {
  background: #4EC3AD;
}

.left-column .left-navigation ol li a {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  padding: 8px 0px 8px 8px;
  margin-left: -8px;
  display:inline-block;
  width: 100%;
}

.left-column .left-navigation ol li a:hover{
  text-decoration: none;
}

.left-column .left-navigation ol li a.active {
  background:#fff;
  color: #4EC3AD;
}

.left-column .left-navigation .nav-button.save,
.left-column .left-navigation .nav-button.cancel {
  width: 48%;
  padding: 7px 24px;
  font-size: 90%;
  margin:0 auto;
  display: block;
}

.left-column .left-navigation .nav-button.final i {
  margin-right: 10px;
  font-size: 99%
}

htmlform .right-form-display,
#htmlform .right-form-display {
  color: #6D7378;
  background: #fff;
  border-radius: 0 0 8px 0;
  width: 70%;
  float: right;
  padding-bottom: 24px;
}

.right-form-display .sections-container {
  margin:30px;
}

.right-form-display .sections-container .section table{
  box-shadow: none;
}

.right-form-display .sections-container .section table td{
  padding:12px 10px;
}

.right-form-display .sections-container h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  margin-top: 0;
}

.right-form-display .sections-container h3 a {
  text-decoration: none;
  color: #373F46;
}

.nav-button {
  width: 95%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.section {
  padding: 2px;
  text-align: left;
  margin-bottom: 1.3em;
  overflow: hidden;
}
.section .input-group textarea{
  margin: 0;
}

.sectionHeader {
  display: block;
  padding: 2px;
  font-weight: bold;
}

table.baseline-aligned td {
  vertical-align: baseline;
}
.btn:active {
  background-color:yellow;
}

.btn.active {
  color: white;
  background-color: darkgrey;
}

table th, table td {
  border: 0;
  padding:5px;
}

td.left-th {
  background: #757C83;
}
td.left-th span{
  margin-left: 5px;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#diagnosis-search-container label {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 5px;
}
input#diagnosis-search {
  width: 95%;
  margin-bottom: 20px;
}

#display-encounter-diagnoses-container li .diagnosis {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: rgba(0,0,0,0.1) 0 4px 8px;
  color: #333;
}

#display-encounter-diagnoses-container li .diagnosis.primary {
  border-left: 4px #55D6BE solid;
}

#display-encounter-diagnoses-container li .diagnosis .actions input {
  float: inherit;
  margin:3px 5px 0px 10px;
}
#display-encounter-diagnoses-container .matched-name {
  float: left;
  margin-right: 10px;
}
#display-encounter-diagnoses-container .code {float: none;}
.obs-field.large input {
  width: 90%;
}
.obs-field.medication select, .obs-field.frequency select, .obs-field.duration select{
  width: 100%;
}
#display-encounter-diagnoses-container li .diagnosis .actions label {
    vertical-align: top;
    display: inline;
    margin-right: 10px;
    margin-left: 0;
  }

#display-encounter-diagnoses-container li .diagnosis .actions {
    margin-top: 0;
    height: 3rem;
    background: none;
    border-top: 0px solid #373F46;
    box-shadow: none;
}

.right-form-display .sections-container .section .add-box table tr:nth-child(odd),
.right-form-display .sections-container .section .add-box table tr:nth-child(even) {
  background: none;
}

.right-form-display .sections-container .section .add-box table tr {
  border:none;
}

.right-form-display .sections-container .section .add-box table tr td {
  padding-left: 0;
  vertical-align: top;
}

input.submitButton {
  float: right;
  margin: 24px;
}


.input-group form input[type="checkbox"],
.input-group .form input[type="checkbox"] {
  margin:4px;
}


/* Allergies */

span[id*="allergy-type-"] label {
  padding: 15px;
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  margin: -8px 12px 16px -24px !important;
  background: #fff;
}
span[id*="allergy-type-"] input[type="radio"] {
  padding:24px;
}

span[id*="allergy-type-"] input[type="radio"]:checked + label {
  background:#55D6BE;
  color:#fff;
  border:none;
  box-shadow: inset rgba(0,0,0,0.3) 0 1px 2px;
  padding:16px;
}

.allergy-tab {
  padding: 14px;
  margin-top: 32px;
  border: 2px solid #55D6BE;
  border-radius: 8px;
}

.allergy-tab > input[type=radio] + label {
  float:none;
  margin:4px;
}

.input-group {
  padding: 4px;
}

.list-of-checkboxes {
  display: flex;
}

.list-of-checkboxes .column {
  width:249px;
}

/* 6. Prescribe Medication */

div[id*="-toggleContainer"],
.right-form-display .sections-container .section .add-box {
  padding: 32px;
  border-radius: 8px;
  /*box-shadow: rgba(0,0,0,0.2) 0px 3px 4px;*/
  margin-bottom: 24px;
  min-height: 200px;
  background: #D0FEF5;
  color: #373F46;
}

#drug-orders div[id*="-toggleContainer"] > h4 {
  margin-top:0 !important;
}

#drug-orders div[id*="-toggleContainer"] .input-group:first-of-type {
  margin-bottom: 24px;
}

#drug-orders div[id*="-toggleContainer"] div.input-group:nth-of-type(2),
#drug-orders div[id*="-toggleContainer"] div.input-group:nth-of-type(3),
#drug-orders div[id*="-toggleContainer"] div.input-group:nth-of-type(4),
#drug-orders div[id*="-toggleContainer"] div.input-group:nth-of-type(5) {
  float: left;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
#drug-orders div[id*="-toggleContainer"] div.input-group:nth-of-type(2) label {
  width: 100%;
  display:block;
}
#drug-orders div[id*="-toggleContainer"] div.input-group:nth-of-type(2) span {
  float:left;
}

#drug-orders div[id*="-toggleContainer"] div.input-group:nth-of-type(6) {
  width: 100%;
  display: block;
  float: left;
  padding: 0;
  height: 140px;
}
.medication-instructions textarea {
  margin: 8px 0 0 2px;
}
td.cv-risk-options input[type="radio"] + label{
  margin-right: 14px;
}
.bottom-of-form {
  padding-top: 32px;
  border-top: 1px solid #eeeeee;
  margin-bottom: 0;
  margin-top: 40px;
}
.section button.addEntry {
  margin: 0 auto;
  display: block;
  padding: 18px 30px;
  border-radius: 30px;
  margin-top:32px;
}
.section .obs-field {
  margin-top:5px;
}
#htmlform .section div[id*="-toggleContainer"] div {
  margin-bottom: 32px;
}

#htmlform .section div[id*="-toggleContainer"] div.hide-on-view,#htmlform .section div[id*="-toggleContainer"] div.column, #htmlform .section div[id*="-toggleContainer"] div.column div.input-group, #htmlform .section div[id*="-toggleContainer"] div.section {
  margin-bottom: 0;
}
.obs-field.select-arrow {margin-top:0;}
