header, #breadcrumbs {
	display: none;
}

.summary-actions-wrapper {
    text-align: center;
}

.summary-actions {
	display: inline-block;
}

table {
	border-collapse: initial;
	box-shadow:none;
}

h2 {
	text-align: center;
}

h3 {
	border-bottom: #dddddd 1px solid;
}