/* REGISTER PATIENT */

/* HIDDEN ELEMENTS */

ul#formBreadcrumb li.doing > span#provenance_label,
ul#formBreadcrumb li.doing > span#patientIdentification_label,
ul#formBreadcrumb li.doing > span#oldPatient_label,
ul#formBreadcrumb li.doing > span#lifestyleInfo_label
 {
    display:none;
}

div#content div#content #dataCanvas h2 {
    background: none;
    color: #424C55;
    padding:0 0 24px 0;
}

#registration {
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
    border-radius: 8px;
}

/* NOTE: Overriding some styling from NCD.css */

.simple-form-ui label {
    float: none;
    margin-left: 0;
    line-height: 1.5rem;
}

.simple-form-ui form input[type="checkbox"] {
    padding: 12px;
}

#patientIdentificationInfo p.left{ 
    margin:1rem 0;
    float: none;
}

nobr {
    margin-top:16px;
    display: block;
}

input#checkbox-unknown-patient {
    padding:12px;
    margin: 8px 8px 0 4px;
}

label#checkbox-unknown-patient, nobr label {
    padding:12px 0;
}

/* NCD.css overrides finished. */

.simple-form-ui section, .simple-form-ui #confirmation, .simple-form-ui form section, .simple-form-ui form #confirmation,
section.focused {
    padding: 64px;
    box-sizing: border-box;
    border-radius: 0 0 8px 0;
    background: #fff;
    min-width: 73%;
}

input#cancelSubmission {
    float: right;
    font-size: 1rem;
}

div#content div#content h2 {
    background: #424C55;
    color: #fff;
    padding: 24px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    font-family: 'OpenSansSemiBold';
}

section.focused h3 {
    font-size:2rem;
    font-family: 'OpenSansSemiBold'
}

ul#formBreadcrumb li.question-legend {
    padding: 0 8px;
}

ul#formBreadcrumb li.doing {
    border-left: none;
}

ul#formBreadcrumb li.doing > span, 
ul#formBreadcrumb li span#confirmation_label {
    padding-left:16px;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
    display: block;
    font-family: 'OpenSansSemiBold';
}

ul#formBreadcrumb li.doing #demographics_label, 
ul#formBreadcrumb li.doing #contactInfo_label, 
ul#formBreadcrumb li.doing #relationships-info_label, ul#formBreadcrumb li.doing #msfcore.registration.others_label,
ul#formBreadcrumb li span#confirmation_label {
    padding-top:24px;
}

ul#formBreadcrumb li.doing ul li.focused {
    color: #55D6BE;
    background-color: #fff;
}

ul#formBreadcrumb li.doing ul li span,
ul#formBreadcrumb li.doing .question-legend.done span {
    padding-left:24px;
}

ul#formBreadcrumb li.doing .question-legend .icon-ok, ul#formBreadcrumb li.doing .question-legend .toast-item-image-success {
    display: none;
    font-size: 1em;
    border: none;
    color: #fff;
    padding: 3px 2px;
    margin-right: 8px;
    float: right;
}

.simple-form-ui section fieldset select:focus, .simple-form-ui section fieldset input:focus, .simple-form-ui section #confirmationQuestion select:focus, .simple-form-ui section #confirmationQuestion input:focus, .simple-form-ui #confirmation fieldset select:focus, .simple-form-ui #confirmation fieldset input:focus, .simple-form-ui #confirmation #confirmationQuestion select:focus, .simple-form-ui #confirmation #confirmationQuestion input:focus, .simple-form-ui form section fieldset select:focus, .simple-form-ui form section fieldset input:focus, .simple-form-ui form section #confirmationQuestion select:focus, .simple-form-ui form section #confirmationQuestion input:focus, .simple-form-ui form #confirmation fieldset select:focus, .simple-form-ui form #confirmation fieldset input:focus, .simple-form-ui form #confirmation #confirmationQuestion select:focus, .simple-form-ui form #confirmation #confirmationQuestion input:focus {
    outline: none;
    border-bottom:2px solid #55D6BE; 
}

.simple-form-ui section, .simple-form-ui #confirmation, .simple-form-ui form section, .simple-form-ui form #confirmation {
    border-left: none;
}