.column-status {
	background-color: #acacac;
}

.icon-edit,.icon-trash,.page {
	cursor:pointer;
}

#results-header {
	border-bottom: 1px solid #acacac;
}

.wrap-center {
	text-align:center;
}

.center {
   	display:inline-block;
}
