/* TYPOGRAPHY */

@font-face {
    font-family: OpenSansLight;
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(fonts/OpenSans-Bold.ttf);
}

html {
    color: #373F46;
    font-size: 100%;
}

body {
  font-family: "OpenSansRegular", Arial, sans-serif;
}

h1,h2,h3,h4 {
    color: #373F46;
    font-family: "OpenSansLight", Arial, sans-serif;
}

#htmlform h4,
#htmlform h5,
#htmlform h6 {
    color: #618696;
    margin-top: 32px;
}

h5,h6 {
  color: #373F46;
  font-family: "OpenSansSemiBold", Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.1rem;
    line-height: 40px;
}
h3 {
    font-size: 1.8rem;
    line-height: 35px;
}
h4 {
    font-size: 1.4rem;
}

#htmlform h4 {
    font-family: "OpenSansSemiBold", Arial, sans-serif;
}

h5 {
    font-size: 1.1rem;
    margin:15px 0 5px;
}
h6 {
    font-size: 0.9rem;
}

h6 i::before {
    width:20px;
}

.bold {font-weight: 700}

