/* VISIT HISTORY PAGE */

/* Hidden things on this page */
.menu-date .icon-time,
.menu-title .icon-stethoscope,
.status-container .icon-time.small,
.status-container span.right, 
.visit-actions.active-visit a i,
#visits-list li span.menu-title {
    display:none;
}

.dashboard-container #visits {
    padding: 32px 0 0 0;
    display: flex;
}

#visits-list + .main-content {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    border:none;
    width: 80%;
    margin-left: -6px;
}

.main-content .status-container {
    background: #fff;
    border: none;
    box-shadow:none;
    box-sizing: border-box;
    color: #373F46;
    display: block;
    margin: 8px 0 32px -8px;
    padding: 16px 16px 24px 16px;
    width: 100%;
}

ul.left-menu li .menu-date,
ul.left-menu li.selected .menu-date,
ul.left-menu li:hover:not(.selected) .menu-date {
    border-bottom: none;
}
.main-content .status-container {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul.left-menu li {
    padding:16px;
}

ul.left-menu  {
    margin-top: 67px;
}

ul.left-menu li.selected {
    background: #4EC3AD;
    color: #FFF;
}

ul.left-menu li .arrow {
    border-color: transparent transparent transparent #4EC3AD;
}

ul.left-menu li .menu-date {
    border: none !important;
    font-size: 1rem !important;
    padding-bottom: 0 !important;
}

/* Visit Actions Buttons above the Encounters List */

.main-content .visit-actions {
    border:none;
    padding:0 24px 0 0;
}

.main-content .visit-actions a:hover, 
.main-content .spaced a:hover {
    text-decoration: none;
}

ul.left-menu li,
.dropdown ul li {
    border:none;
}

ul.left-menu li:hover:not(.selected),
.dropdown ul li:hover {
    background: #55D6BE;
}

.visit-actions.active-visit {
    display:flex;
}

ul.encounter-list {
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    width: 98%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 24px;
}

.visit-actions.active-visit + ul.encounter-list {
    border:none;
}

#i-toggle {
    position: absolute;
    margin-left: 1020px;
    top: 256px;
    color: #55D6BE;
    cursor: pointer;
    font-size: 0.9em;
}

/* Encounters List */

.encounter-list > li.encounter {
    margin-bottom: 0px;
    display: block;
    border-bottom: 2px solid #f1f1f1;
    min-height: 60px;
    clear: both;
}

.encounter-list .encounter-date {
    margin: 16px 16px 0 16px;
}

.encounter-list .encounter-details,
.encounter-list .encounter-details li, 
.encounter-list .encounter-date strong {
    border: none;
    float: left;
}

.encounter-type,
.encounter-list li > span {
    border-left: none;
    padding: 16px;
}

.encounter-list li > span {
    float: right;
}

.encounter-list .encounter-details .encounter-type strong span {
    font-size:1rem;
    font-family: 'OpenSansSemiBold', Arial, Helvetica, sans-serif;
    color:#373F46;
}

.encounter-list .encounter-details li:last-child > div {
    background: none;
    max-width:120px;
}

.encounter-list .encounter-details li:last-child > .details-action {
    max-width: 100%;
    text-align: left;
    padding: 8px;
}

h4.encounter-name {
    padding-left: 6px;
    color:#fff;
}


/* Encounter Type List > Encounter > Show Details button */ 

a.view-details {
    color: #4EC3AD;
    margin: 8px 0;
    padding: 4px 8px;
    font-size: 14px;
}
a.view-details .show-details,
a.view-details.collapsed .hide-details {
    display: none;
}
a.view-details.collapsed .show-details {
    display: inline-block;
}
a.view-details > i.icon-caret-right::before {
    content: '\f0d8';
}
a.view-details.collapsed > i.icon-caret-right::before {
    content: '\f0da';
}

/* Encounter Type List > Encounter Expanded > Encounter Summary */

div[id*="encounter-summary"] {
    width: 100%;
}

div[id*="encounter-summary"] button.msf-operation-button {
    display:none;
}


.collapse .encounter-summary-container {
    padding: 16px;
    border: none;
    width: 100%;
    min-height: 32px !important;
    box-sizing: border-box;
    box-shadow: inset rgba(0,0,0,0.1) 0 2px 4px;
}

/* These rules make changes to NCD Forms to suite the Visit History content
the better option would be to only show the relevant content. */ 

.encounter-summary-container .sections-container {
    margin:0;
}

.encounter-summary-container  .sections-container > .section > h3,
.encounter-summary-container  section button {
    display: none;
}

.encounter-summary-container  .sections-container > .section > h5 {
    font-weight:normal;
    font-size: 1rem;
}

.encounter-summary-container  .sections-container div[id*="-toggleContainer"] {
    border: none;
    padding: 16px 0;
    box-shadow: none;
    margin-bottom: 0;
    min-height: 200px;
    border-radius: 0;
    border-bottom: 2px solid #ccc;
}

li.encounter-summary {
    background:#538CAC;
    border-color: #538CAC;
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px 8px 0 0;
}

li.encounter-summary p {
    padding-top:16px;
    padding-right:6px;
}

/* VISIT NOTE Section */


